

.navbar-brand{
    display: none;
}

.headline a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
}
 .exploebtn{
    margin-left: 500px;
}
.break a{
    text-decoration: none;
}
.break h5{
    font-size: 13px;
}
.top_image a{
  text-decoration: none;
}
/* Job Categories */
.job_heading h5{
    border-bottom: 5px solid purple;
    padding-bottom: 10px;
    
}
.img_block a{
    text-decoration: none;
  
}

.job h4{
   font-size: 13px;
   font-weight: bold;
}

.job a{
    text-decoration: none;
}
.job h3{
    font-size: 15px;
    margin-top: 10px;
}

 .job{
    height: 350px;
 
   

} 
/* NEWS */
.news h3{
    font-weight: bold;
}
/* 
Forum  */
.forum h5{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}
.forum h3{
    font-size: 18px;
    margin-top: 20px;
}
.forum p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.img_blog{
    width: 100%;
}
/* Event */
.carousel-caption{
    font-size: 50px;
}
.btn_event{
    margin-left: 700px;
    margin-top: 10px;
} 
.form{
    width: 480px;
    height: 1000px;
}

.entbtn{
    margin-left: 120px;
}

.ev h5{
    font-size: 30px;
    font-weight: bold;
  

}
.line{
    border-bottom: red 3px solid;
    width: 20%;
    margin: auto;
}

/* ABOUT */

.about h5{
    font-size: 40px;
    color: brown;
    font-weight: bold;
    margin-top: 55px;
    
}
.about h4{
    margin-top: 50px;
}

.about1 h5{
    font-size: 50px;
    color: brown;
    font-weight: bold;
    margin-top: 55px;
    
}



.about1 ul{
    list-style: none;
    padding: 0px;
}

.about1 li a{
    margin: 5px;
    text-decoration: none;
    padding: 0px;
}
/* Footer */
.footer1 h5{
    font-size: 40px;
    color: brown;
    font-weight: bold;
    
}
.footer2 h5{
 margin-top: 15px;
 font-weight: bold;
}



.footer2 ul {
    list-style: none;
    padding: 0%;
    
}

.footer2 li {
    text-decoration: none;
    margin: 0px;
}
.footer2 li a{
    text-decoration: none;
}

.footer3 h5{
    font-size: 13px;
}
.admin{
    font-weight: bold;
}

.head_text{
    font-size: 15px;
    margin-top: 10px;
    color: black;
   
}
.img_blog{
    width: 100%;
    height: 150px;
}
.cont{
   
   width: 100%;

    
}

.content{
    font-size: 13px;
    color: black;
}

.blog_container{
  margin-top: 10px;
  text-decoration: none;
}
.blog_container:hover{
   color: green;
   margin-top: 10px;
   text-decoration: none;
  }

.event_img{
    width: 100%;
    height: 50px;
}

.event_carousel{
    height: 550px;
    
}
/* .top {
    margin-top: 60px;
   
} */



@media only screen and ( max-width: 600px) {
   .pad{
       padding: 0%;
   }
    .top_image a{
        text-decoration: none;
        text-align: center;
      }
   .topnews{
       padding-top: 60px;
   }

   .news{
       margin: 10px;
   }
   .news h3{
       font-weight: bold;
   }
   .news2{
       margin-top: 10px;
   } 
    .navbar-brand{
        display: block;
        color: white;
        font-weight: bold;
       
    }
    .exploebtn{
        margin-left: 0px;
    }
/* 
    .headline{
        display: none;
    } */
    .news h3{
        padding-top: 10px;
    }
     .btn_event{
        margin-left: 130px;
        margin-top: 10px;
    } 
    .topp{
        padding-top: 20px;
    }

    .about1 h5{
        font-size: 30px;
        color: brown;
        font-weight: bold;
        margin-top: 30px;
        
    }

    .form{
        width: 300px;
        height: 1000px;
    }
    
}
